.hero-model {
  position: relative;
  z-index: 2;
  width: clamp(220px, 30vw, 380px);
  aspect-ratio: 1;
  border-radius: 50%;
  background: none;;
}

.hero-model canvas {
  width: 100% !important;
  height: 100% !important;
}
